/* Colors */
/* Font sizes */
/* Fonts */
/* Font weights */
/* Border */
/* GRID */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-offset-12 {
  margin-left: 100%;
}

@media (max-width: 767px) {
  .col-sm-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}

/* BASIC STYLES */
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*
  
  h1, h2, h3, h4, h5, h6, ul, ol, p, a, div {
    font-family: $font;
    color: $main-font-color;
  }*/
a {
  text-decoration: none;
}

p {
  font-size: 14px;
}

li {
  list-style: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* CLASS TO HIDDEN LABEL IN DATE SELECT */
.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.container--small {
  width: 100%;
  max-width: 542px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container--small {
    width: 100%;
  }
}

.header {
  overflow: auto;
  background-color: #000;
}

.header__logo {
  display: block;
  float: left;
  padding-top: 23.5px;
}

.header__menu-list {
  float: right;
  padding: 23.5px;
}

.header__menu-list-item {
  display: inline-block;
  padding: 0 10px;
}

.header__menu-link {
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 34px;
}

.header__menu-link:hover {
  border-bottom: 5px solid #b08656;
  color: #b08656;
}

.hero {
  background-image: url("../images/hero.png");
  height: 80vh;
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.hero::after {
  position: absolute;
  content: '';
  background-image: url("../images/paginator.png");
  width: 65px;
  height: 14px;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
}

.hero__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.hero__header {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
}

.hero__header--white {
  color: #FFF;
  margin-bottom: 0;
}

.hero__header--gold {
  color: #b08656;
  margin: 0;
}

.hero__number {
  color: #FFF;
  font-size: 24px;
  margin-top: 10px;
  font-weight: 700;
}

.hero__call-button {
  position: absolute;
  right: 40px;
  bottom: -31px;
  border: none;
  outline: none;
  background: url("../images/telephone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #b08656;
  padding: 33px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.hero__call-button:hover {
  background-color: #000;
}

.about-us {
  background-color: #ededed;
}

.about-us__description {
  font-size: 14px;
  font-weight: 500;
}

.about-us__video {
  float: right;
}

.about-us__description {
  line-height: 1.75;
  padding-top: 7px;
}

.services {
  background-color: #000;
}

.services__wrapper {
  text-align: center;
  padding-bottom: 35px;
}

.services__column {
  border-left: 2px solid #383838;
  height: 200px;
  padding: 10px 45px;
}

.services__column:last-of-type {
  border-right: 2px solid #383838;
}

.services__title {
  color: #FFF;
  text-transform: uppercase;
  padding-top: 10px;
  font-size: 16px;
}

.services__description {
  color: #6e6e6e;
  font-size: 12px;
}

.projects {
  background-color: #ededed;
  padding-bottom: 60px;
}

.projects__menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  border: 1px solid #cfcfcf;
  border-radius: 25px;
  background-color: #ededed;
  margin: 40px 195px;
  padding: 2px;
}

.projects__menu-item {
  text-transform: uppercase;
  border-left: 1px solid #cfcfcf;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 500;
}

.projects__menu-link {
  list-style: none;
  color: #000;
  padding: 16px 18px;
  margin: 5px;
}

.projects__menu-link:hover {
  border-bottom: 5px solid #b08656;
}

.projects__menu-item:first-of-type {
  border-left: none;
}

.projects__gallery-row {
  margin-left: 20px;
}

.projects__img-wrapper {
  position: relative;
}

.projects__img {
  padding-bottom: 20px;
}

.projects__overlay {
  position: absolute;
  top: 0;
  text-align: center;
  background-color: #000;
  height: 165px;
  width: 255px;
  opacity: 0;
  transition: .5s ease-in-out;
}

.projects__overlay:hover {
  opacity: .7;
}

.projects__overlay-header {
  text-transform: uppercase;
  color: #FFF;
  margin-top: 45px;
  font-weight: 500;
}

.projects__overlay-paragraph {
  color: #FFF;
  font-weight: 300;
  font-size: 13px;
  padding: 0 11px;
  line-height: 1.5;
}

.projects__button {
  display: block;
  margin: 0 auto;
}

.team {
  background-image: url("../images/team_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.team::after {
  position: absolute;
  content: '';
  background-image: url("../images/paginator.png");
  width: 65px;
  height: 14px;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
}

.team__wrapper {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 105px;
}

.team__worker {
  background-color: #FFF;
  text-align: center;
  padding-top: 50px;
  margin-right: 24px;
  border-radius: 3px;
}

.team__worker:last-of-type {
  margin-right: 0;
}

.team__worker-name {
  text-transform: uppercase;
  padding-top: 15px;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 600;
}

.team__worker-position {
  font-weight: 500;
  margin-top: 5px;
}

.team__social-wrapper {
  padding-top: 20px;
  padding-bottom: 40px;
}

.team__btn {
  display: inline-block;
  cursor: pointer;
  font-size: 17px;
  border-radius: 50%;
  padding-top: 8px;
  width: 34px;
  height: 34px;
  background-color: #bebebe;
  transition: .5s ease-in-out;
  color: #FFF;
}

.team__btn:hover {
  background-color: #b08656;
}

.clients {
  background-color: #ededed;
  position: relative;
  border-bottom: 1px solid #cfcfcf;
}

.clients::after {
  position: absolute;
  content: '';
  background-image: url("../images/paginator.png");
  width: 65px;
  height: 14px;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
}

.clients__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 50px;
}

.clients__img {
  padding-top: 15px;
}

.clients__name {
  font-size: 24px;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 0;
}

.clients__position {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
}

.clients__quotes {
  padding-top: 10px;
}

.clients__description {
  font-size: 14px;
  color: #7E7E7E;
  text-align: center;
  margin: 0px 200px;
  line-height: 1.8;
  padding-top: 10px;
  padding-bottom: 50px;
}

.logos {
  text-align: center;
  border-bottom: 1px solid #cfcfcf;
}

.logos__img {
  padding: 43px;
}

.logos__wrapper img:nth-child(3) {
  padding-bottom: 50px;
}

.logos__wrapper img:nth-child(6) {
  padding-bottom: 50px;
}

.price {
  background-color: #ededed;
  text-align: center;
  padding-bottom: 60px;
  border-bottom: 1px solid #cfcfcf;
}

.price__wrapper {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.price__column {
  background-color: #FFF;
  margin-right: 25px;
  border-radius: 3px;
}

.price__bundle {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 30px;
}

.price__amount {
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.price__period {
  text-transform: uppercase;
  color: #bcbcbc;
  font-size: 10px;
  font-weight: 600;
}

.price__list {
  padding-left: 0;
}

.price__list-item {
  font-size: 10px;
  color: #5e5e5e;
  font-weight: 600;
  position: relative;
  padding: 7px 0;
}

.price__list-item::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #bcbcbc;
  width: 10px;
  bottom: 0;
  left: calc(50% - 5px);
}

.price__list-item:last-of-type::after {
  content: "";
  width: 0;
}

.price__button {
  display: block;
  margin: 25px auto;
  padding: 16px 40px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #b08656;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.price__button:hover {
  background-color: #000;
}

.premium__wrapper {
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 90px;
  position: relative;
}

.premium__wrapper::after {
  position: absolute;
  content: '';
  background-image: url("../images/paginator.png");
  width: 65px;
  height: 14px;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, 0);
}

.premium__col-right {
  padding-left: 30px;
  margin-top: 40px;
  padding-right: 150px;
}

.premium__checkbox-img {
  float: left;
}

.premium__feature-header {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 0;
  font-weight: 800;
}

.premium__feature-header-first {
  margin-top: 5px;
}

.premium__feature-wrapper {
  margin-left: 50px;
}

.premium__feature-text {
  margin-top: 5px;
  line-height: 1.7;
  position: relative;
  color: #5e5e5e;
  font-size: 12px;
  font-weight: 500;
}

.premium__feature-list {
  text-transform: uppercase;
  padding-left: 15px;
}

.premium__feature-list-item {
  position: relative;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 10px;
}

.premium__feature-list-item::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 1px;
  background-color: #5e5e5e;
  bottom: 18px;
  left: -15px;
}

.premium__button {
  display: block;
  margin: 60px auto;
}

.facts {
  background-color: #000;
}

.facts__column {
  text-align: center;
}

.facts__numbers {
  color: #b08656;
  font-size: 48px;
  margin-bottom: 0;
}

.facts__title {
  color: #FFF;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px;
  width: 178px;
  margin: 15px auto;
}

.facts__title::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 20px;
  background-color: #5e5e5e;
  transform: translate(-50%, 0);
  left: 50%;
  top: -12px;
}

.facts__description {
  color: #FFF;
  padding: 0 38px;
}

.facts__description-even {
  margin-top: 35px;
}

.social-bar {
  border-bottom: 1px solid #cfcfcf;
}

.social-bar__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  padding: 16px 0;
}

.social-bar__text {
  text-transform: uppercase;
  color: #bcbcbc;
  font-weight: 700;
  padding-left: 15px;
  padding-right: 60px;
}

.social-bar__btn {
  display: inline-block;
  cursor: pointer;
  font-size: 17px;
  border-radius: 50%;
  padding-top: 8px;
  width: 34px;
  height: 34px;
  transition: .5s ease-in-out;
  color: #FFF;
}

.social-bar__btn:hover {
  background-color: #000;
}

.social-bar__number {
  font-size: 10px;
  font-weight: 700;
  padding-right: 35px;
  padding-left: 5px;
  color: #bcbcbc;
}

.social-bar__twitter {
  background-color: #33CCFF;
}

.social-bar__linkedin {
  background-color: #4875B4;
}

.social-bar__facebook {
  background-color: #3b5998;
}

.social-bar__google-plus {
  background-color: #C63D2D;
}

.social-bar__pinterest {
  background-color: #cb2028;
}

.contact {
  background-color: #ededed;
}

.button {
  text-transform: uppercase;
  color: #FFF;
  background-color: #b08656;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 16px 50px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background-color: #000;
}

.section__header--black, .section__header--white {
  font-size: 30px;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
}

.section__header--white {
  color: #FFF;
}

.section-subheading {
  text-transform: uppercase;
  color: #bcbcbc;
  text-align: center;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 50px;
}
/*# sourceMappingURL=style.css.map */