/* BASIC STYLES */
* {
    box-sizing: border-box;
  }

  body {
    font-family: $font;
  }
  
/*
  
  h1, h2, h3, h4, h5, h6, ul, ol, p, a, div {
    font-family: $font;
    color: $main-font-color;
  }*/
  
  a {
    text-decoration: none;
  }

  p {
    font-size: $paragraph-font-size;
  }

  li {
    list-style: none;
  }

  /* CLASS TO HIDDEN LABEL IN DATE SELECT */
  .visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}