/* GRID */
.row {
    display: flex;
    flex-wrap: wrap;
}

$grid-columns: 12;
$grid-offset-columns: 12;

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    width: percentage($i / $grid-columns);
  }
}

@for $i from 1 through $grid-offset-columns {
  .col-offset-#{$i} {
      margin-left: percentage($i / $grid-offset-columns);
  }
}

@mixin grid($prefix) {
    @for $i from 1 through 12 {
      .col-#{$prefix}-#{$i} {
        $width: 100% / 12 * $i;
        flex: 0 0 $width;
        max-width: $width;
      }
    }
}

@media(max-width: 767px) {
    @include grid('sm');
}
  
@media(min-width: 768px) {
    @include grid('md');
}
  
@media(min-width: 992px) {
    @include grid('lg');
}
  
@media(min-width: 1200px) {
    @include grid('xl');
}