/* Colors */
$white: #FFF;
$black: #000;
$gold: #b08656;
$grey: #cfcfcf;
$twitter: #34c5f0;
$linked-in: #127cb4;
$facebook: #336297;
$google-plus: #e74237;
$pinterest: #b71c29;

/* Font sizes */
$paragraph-font-size: 14px;// montserrat light regular
$btn-font-size: 12px; //bold color white
$header-font-size: 30px;//section title(black or white) SemiBold regular

/* Fonts */
$font: 'Montserrat', sans-serif;//all content

/* Font weights */
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;//section main title black or white
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;

/* Border */
$border: 1px solid #CFCFCF;