@import "variables";
@import "mixins";
@import "layout";
@import "basic-styles";
@import "containers";

//Sections
@import "sections/header";
@import "sections/hero";
@import "sections/about-us";
@import "sections/services";
@import "sections/projects";
@import "sections/team";
@import "sections/clients";
@import "sections/logos";
@import "sections/price";
@import "sections/premium";
@import "sections/facts";
@import "sections/social-bar";
@import "sections/contact";
@import "sections/map";
@import "sections/footer";

//Components
@import "components/buttons";
@import "components/sections-header";