.about-us {
  background-color: $section-bg;

  button {
    @include breakpoint(sm) {
      margin: 20px auto;
      display: block;
    }
    @include breakpoint(md) {
      margin-bottom: 20px;
    }
  }

  &__description {
    font-size: $paragraph-font-size;
    font-weight: $font-medium;
    @include breakpoint(sm) {
      text-align: center;
    }
  }

  &__video {
    float: right;
    @include breakpoint(sm) {
      float: none;
      transform: scale(0.8);
    }
  }

  &__description {
    line-height: 1.75;
    padding-top: 7px;
  }
}