.header {
    overflow: auto;
    background-color: $black;

    &__logo {
        display: block;
        float: left;
        padding-top: 23.5px;
    }

    &__menu-list {
        float: right;
        padding: 23.5px;
    }

    &__menu-list-item {
        display: inline-block;
        padding: 0 10px;
    }

    &__menu-link {
        color: $white;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: $font-bold;
        padding-bottom: 34px;
        &:hover {
            border-bottom: 5px solid $gold;
        }
    }
}