.hero {
    background-image: url('../images/hero.png');
    height: 80vh;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    display: flex;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        background-image: url('../images/paginator.png');
        width: 65px;
        height: 14px;
        bottom: 40px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__header {
        text-transform: uppercase;
        font-size: 72px;
        font-weight: $font-bold;
    }

    &__header--white {
        color: $white;
        margin-bottom: 0;
    }

    &__header--gold {
        color: $gold;
        margin: 0;
    }

    &__number {
        color: $white;
        font-size: 24px;
        margin-top: 10px;
        font-weight: $font-bold;
    }

    &__call-button {
        position: absolute;
        right: 40px;
        bottom: -31px;
        border: none;
        outline: none;
        background: url('../images/telephone.png');
        background-position: center;
        background-repeat: no-repeat;
        background-color: $gold;
        padding: 33px;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            background-color: $black;
        }
    }
}



