.premium {
  &__wrapper {
    border-bottom: $border-thin;
    margin-bottom: 90px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-image: url('../images/paginator.png');
      width: 65px;
      height: 14px;
      bottom: -50px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &__col-right {
    padding-left: 30px;
    margin-top: 40px;
    padding-right: 150px;
  }

  &__checkbox-img {
    float: left;
  }

  &__feature-header {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 0;
    font-weight: $font-extra-bold;
  }

  &__feature-header-first {
    margin-top: 5px;
  }

  &__feature-wrapper {
    margin-left: 50px;
  }

  &__feature-text {
    margin-top: 5px;
    line-height: 1.7;
    position: relative;
    color: $dark-grey;
    font-size: 12px;
    font-weight: $font-medium;
  }

  &__feature-list {
    text-transform: uppercase;
    padding-left: 15px;
  }

  &__feature-list-item {
    position: relative;
    color: $dark-grey;
    font-size: 14px;
    font-weight: $font-medium;
    padding-bottom: 10px;
    &::before {
      position: absolute;
      content: '';
      width: 10px;
      height: 1px;
      background-color: $dark-grey;
      bottom: 18px;
      left: -15px;
    }
  }

  &__button {
    display: block;
    margin: 60px auto;
    &::before {
      position: absolute;
      content: '';
      background-image: url('../images/paginator.png');
      width: 65px;
      height: 14px;
      bottom: 85px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}