.price {
  background-color: $section-bg;
  text-align: center;
  padding-bottom: 60px;
  border-bottom: $border-thin;

  &__wrapper {
    flex-wrap: nowrap;
  }

  &__column {
    background-color: $white;
    margin-right: 25px;
    border-radius: 3px;
  }

  &__bundle {
    font-size: $paragraph-font-size;
    text-transform: uppercase;
    font-weight: $font-semi-bold;
    margin-top: 30px;
  }

  &__amount {
    font-size: $header-font-size;
    font-weight: $font-bold;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__period {
    text-transform: uppercase;
    color: $grey;
    font-size: 10px;
    font-weight: $font-semi-bold;
  }

  &__list {
    padding-left: 0;
  }

  &__list-item {
    font-size: 10px;
    color: $dark-grey;
    font-weight: $font-semi-bold;
    position: relative;
    padding: 7px 0;
    &::after {
      position: absolute;
      content: "";
      border-bottom: 1px solid $grey;
      width: 10px;
      bottom: 0;
      left: calc(50% - 5px);
    }
  }

  &__list-item:last-of-type::after {
    content: "";
    width: 0;
  }

  &__button {
    display: block;
    margin: 25px auto;
    padding: 16px 40px;
    text-transform: uppercase;
    color: $white;
    background-color: $gold;
    font-size: 12px;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: $black;
  }
  }
}
