.services {
    background-color: $black;
    &__wrapper {
        text-align: center;
        padding-bottom: 35px;
    }

    &__column {
        border-left: $border-thick;
        height: 200px;
        padding: 10px 45px;
    }

    &__column:last-of-type {
        border-right: $border-thick;
    }

    &__title {
        color: $white;
        text-transform: uppercase;
        padding-top: 10px;
        font-size: 16px;
    }

    &__description {
        color: #6e6e6e;
        font-size: 12px;
    }
}

