.services {
    background-color: $black;

    &__header {
        padding-top: 60px;
    }

    &__wrapper {
        text-align: center;
    }

    &__column {
        border-left: $border;
        height: 200px;
        padding: 10px 45px;
    }

    &__column:last-of-type {
        border-right: $border;
    }

    &__title {
        color: $white;
        text-transform: uppercase;
        padding-top: 10px;
        font-size: 16px;
    }

    &__description {
        color: #6e6e6e;
        font-size: 12px;
    }
}

